{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>LOGIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

	{% block extrahead %}
      <link href="{% static 'login.css' %}" rel="stylesheet">
   {% endblock %}

<body>

    <form action="" method="POST">
    
    <div class="login">
 		 <div class="login-triangle"></div>
  
  			<h2 class="login-header">Log in</h2>

			  <form class="login-container">
			    
       			<p>{% csrf_token %}</p>
        			<p>{{ form.as_p }}</p>
			    	<p><input type="submit"></p>
			  </form>
	</div>
	 </form>
    
    
</body>
</html>