@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
}
table{
position: relative;
	top: 10px;
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}


.no_error{
  width: 50%;
  border-collapse:separate;
  border-spacing: 0;
}

.no_error th:first-child{
  border-radius: 5px 0 0 0;
}

.no_error th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.no_error th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

.no_error td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

.no_error td:last-child{
  border-right: 1px solid #a8b7c5;
}

.no_error tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.no_error tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}


nav ul{
	display: table;
	margin: 0 auto;
	padding: 0 ;
	width: 80%;
	text-align: center;
	}
nav li{
	display: table-cell;
	min-width: 50px;
}
nav a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #000011;
	padding-bottom: 5px;
}
nav li.current{
	border-bottom: 3px solid #92D050;
}
nav li:hover{
	color: #E7DA66;
	border-bottom: 3px solid #F0E475;
}

h1 {
  color: #5B5B5B;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #67c5ff;/*上線*/
  border-bottom: solid 3px #67c5ff;/*下線*/
}


.myTable{
  width:100%;
  table-layout: fixed;
  border-collapse:separate;
  border-spacing: 0;
}

.myTable th:first-child{
  border-radius: 5px 0 0 0;
}

.myTable th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.myTable th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 20%;
  padding: 10px 0;
}

.myTable td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 20%;
  padding: 10px 0;
}

.myTable td:last-child{
  border-right: 1px solid #a8b7c5;
}

.myTable tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.myTable tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

#nolink {
    color: #fff;
    background: #5876a3;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}


#del {
    color: #fff;
    background: #5876a3;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}


#ch {
    color: #fff;
    background: #5876a3;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}


#submit{
	color: #fff;
    background: #FF8C00;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}

#add_more{
	color: #FFFFFF;
    background: #2E8B57;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}

#confirm {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #00BFFF;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.confirm:hover {
  background: #67c5ff;
  color: white;
}
/*--- return button ---*/
.circle_spread_btn {
	display: inline-block;
	position: relative;
	left: 10px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size:20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #59b1eb;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .2s ease-out;
}
.circle_spread_btn:hover {
	 cursor: pointer;
	 text-decoration: none;
	 transform: translateY(-4px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 3px 10px 0 rgba(0,0,0,0.12), 0 4px 7px -2px rgba(0,0,0,0.2);
	 
}

/*--- delete css ---*/
.delete_text{
	text-align: center;
}

h5{
	font-size: 25px;
}

table.delete{
  table-layout: fixed;	
  width: 40%;
   margin: 0 auto;
  border-collapse:separate;
  border-spacing: 0;
}

table.delete th:first-child{
  border-radius: 5px 0 0 0 0;
}

table.delete th:last-child{
  border-radius: 0 5px 0 0 0;
  border-right: 1px solid #3c6690;
}

table.delete th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 20%;
  padding: 10px 0;
}

table.delete td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 20%;
  padding: 10px 0;
}

table.delete td:last-child{
  border-right: 1px solid #a8b7c5;
}

table.delete tr:last-child td:first-child {
  border-radius: 0 0 0 0 5px;
}

table.delete tr:last-child td:last-child {
  border-radius: 0 0 5px 0 0;
}

/*---削除エラー---*/

.delete_error {
	text-align: center;
	width:500px;
    padding: 2em 2em;
    margin: 0 auto;
    font-weight: bold;
    color: #59b1eb;/*文字色*/
    background: #FFF;
    border: solid 3px #59b1eb;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.delete_error p{
	margin: 0; 
    padding: 0;

}

hr {
	position:relative;
	top: 10px
}
